$primaryColor: #24343b;
$secondaryColor: #f8f8f8;
$accentcolor: #d49b29;

.hidden {
  display: none;
}

body {
    padding: 25px;
    /*margin-top: 20%;*/
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: $primaryColor;
    text-decoration: none;
  }
  

  ul{


  }

#menu{
    visibility: hidden;
  height: 0px;
}
 
#container{
  margin-top: -20%;

}

#burgerMenu{
   margin-right: auto;
   background-color: red;
}

 #navigation li {
    list-style: none;
    text-align: left;
    margin-left: -40%;

  }

 #nativation ul{
    text-align: left;
    list-style: none;
 } 

#bmIcon{
  color: #d49b29;
  background-color: green;
  margin-left: -5%;
  margin-top: -30%;
  }

  img {
    border-radius: 50%;
  }
#dashboard {
    display: flex;
    flex-direction: row;
  }
  
.temperature:hover {
  cursor: pointer;
}
