$primaryColor: #24343b;
$secondaryColor: #f8f8f8;
$accentcolor: #d49b29;

body {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
.temperature:hover {
  cursor: pointer;
}